In [1]:
#import necessary packages

import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

## 1. Draft Order
Luckily, this information is contained in a pretty neat table, will be the easiest data to retrieve.

In [37]:
url = 'https://www.pro-football-reference.com/years/2021/draft.htm'
r = requests.get(url)
df = pd.read_html(url)[0]

In [38]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                 Rnd               Pick                 Tm             Player
0                  1                  1                JAX    Trevor Lawrence
1                  1                  2                NYJ        Zach Wilson
2                  1                  3                SFO         Trey Lance
3                  1                  4                ATL         Kyle Pitts
4                  1                  5                CIN      Ja'Marr Chase

  Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0 Misc     \
                 Pos                Age                 To  AP1 PB
0                 QB                 21                NaN    0  0
1                 QB                 22                NaN    0  0
2                 QB                 21                NaN    0  0
3                 TE                 20                NaN    0  0
4                 WR                 21                NaN    0  0

  Unnamed: 9_level_0  ... Rushing      Receiving            \
                  St  ...     Yds   TD       Rec  Yds   TD
0                  0  ...     NaN  NaN       NaN  NaN  NaN
1                  0  ...     NaN  NaN       NaN  NaN  NaN
2                  0  ...     NaN  NaN       NaN  NaN  NaN
3                  0  ...     NaN  NaN       NaN  NaN  NaN
4                  0  ...     NaN  NaN       NaN  NaN  NaN

  Unnamed: 24_level_0 Unnamed: 25_level_0 Unnamed: 26_level_0  \
                 Solo                 Int                  Sk
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

  Unnamed: 27_level_0 Unnamed: 28_level_0
         College/Univ Unnamed: 28_level_1
0             Clemson       College Stats
1                 BYU       College Stats
2    North Dakota St.       College Stats
3             Florida       College Stats
4                 LSU       College Stats

[5 rows x 29 columns]

It worked, but a little ugly. Need to get rid of the MultiIndex first.

In [39]:
df.columns = df.columns.get_level_values(-1)

In [40]:
df.head()

,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Yds,TD,Rec,Yds,TD,Solo,Int,Sk,College/Univ,Unnamed: 28_level_1
0,1,1,JAX,Trevor Lawrence,QB,21,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clemson,College Stats
1,1,2,NYJ,Zach Wilson,QB,22,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BYU,College Stats
2,1,3,SFO,Trey Lance,QB,21,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota St.,College Stats
3,1,4,ATL,Kyle Pitts,TE,20,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Florida,College Stats
4,1,5,CIN,Ja'Marr Chase,WR,21,NaN,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LSU,College Stats

Good, now just keep the relevant columns.

In [41]:
df = df[['Rnd', 'Pick', 'Tm', 'Player', 'College/Univ']]

In [42]:
df.head(40)

    Rnd  Pick   Tm              Player      College/Univ
0     1     1  JAX     Trevor Lawrence           Clemson
1     1     2  NYJ         Zach Wilson               BYU
2     1     3  SFO          Trey Lance  North Dakota St.
3     1     4  ATL          Kyle Pitts           Florida
4     1     5  CIN       Ja'Marr Chase               LSU
5     1     6  MIA       Jaylen Waddle           Alabama
6     1     7  DET        Penei Sewell            Oregon
7     1     8  CAR         Jaycee Horn    South Carolina
8     1     9  DEN  Patrick Surtain II           Alabama
9     1    10  PHI       DeVonta Smith           Alabama
10    1    11  CHI       Justin Fields          Ohio St.
11    1    12  DAL       Micah Parsons          Penn St.
12    1    13  LAC      Rashawn Slater      Northwestern
13    1    14  NYJ  Alijah Vera-Tucker               USC
14    1    15  NWE           Mac Jones           Alabama
15    1    16  ARI       Zaven Collins             Tulsa
16    1    17  LVR    Alex Leatherwood           Alabama
17    1    18  MIA     Jaelan Phillips        Miami (FL)
18    1    19  WAS         Jamin Davis          Kentucky
19    1    20  NYG      Kadarius Toney           Florida
20    1    21  IND          Kwity Paye          Michigan
21    1    22  TEN        Caleb Farley     Virginia Tech
22    1    23  MIN  Christian Darrisaw     Virginia Tech
23    1    24  PIT        Najee Harris           Alabama
24    1    25  JAX      Travis Etienne           Clemson
25    1    26  CLE     Greg Newsome II      Northwestern
26    1    27  BAL      Rashod Bateman         Minnesota
27    1    28  NOR       Payton Turner           Houston
28    1    29  GNB         Eric Stokes           Georgia
29    1    30  BUF    Gregory Rousseau        Miami (FL)
30    1    31  BAL         Jayson Oweh          Penn St.
31    1    32  TAM           Joe Tryon        Washington
32  Rnd  Pick   Tm              Player      College/Univ
33    2    33  JAX      Tyson Campbell           Georgia
34    2    34  NYJ        Elijah Moore       Mississippi
35    2    35  DEN    Javonte Williams    North Carolina
36    2    36  MIA       Jevon Holland            Oregon
37    2    37  PHI    Landon Dickerson           Alabama
38    2    38  NWE   Christian Barmore           Alabama
39    2    39  CHI       Teven Jenkins      Oklahoma St.

And need to get rid of the subheaders that occur at the beginning of each round.

In [43]:
df = df[df['Rnd'] != 'Rnd']

In [44]:
df.head(40)

   Rnd Pick   Tm              Player      College/Univ
0    1    1  JAX     Trevor Lawrence           Clemson
1    1    2  NYJ         Zach Wilson               BYU
2    1    3  SFO          Trey Lance  North Dakota St.
3    1    4  ATL          Kyle Pitts           Florida
4    1    5  CIN       Ja'Marr Chase               LSU
5    1    6  MIA       Jaylen Waddle           Alabama
6    1    7  DET        Penei Sewell            Oregon
7    1    8  CAR         Jaycee Horn    South Carolina
8    1    9  DEN  Patrick Surtain II           Alabama
9    1   10  PHI       DeVonta Smith           Alabama
10   1   11  CHI       Justin Fields          Ohio St.
11   1   12  DAL       Micah Parsons          Penn St.
12   1   13  LAC      Rashawn Slater      Northwestern
13   1   14  NYJ  Alijah Vera-Tucker               USC
14   1   15  NWE           Mac Jones           Alabama
15   1   16  ARI       Zaven Collins             Tulsa
16   1   17  LVR    Alex Leatherwood           Alabama
17   1   18  MIA     Jaelan Phillips        Miami (FL)
18   1   19  WAS         Jamin Davis          Kentucky
19   1   20  NYG      Kadarius Toney           Florida
20   1   21  IND          Kwity Paye          Michigan
21   1   22  TEN        Caleb Farley     Virginia Tech
22   1   23  MIN  Christian Darrisaw     Virginia Tech
23   1   24  PIT        Najee Harris           Alabama
24   1   25  JAX      Travis Etienne           Clemson
25   1   26  CLE     Greg Newsome II      Northwestern
26   1   27  BAL      Rashod Bateman         Minnesota
27   1   28  NOR       Payton Turner           Houston
28   1   29  GNB         Eric Stokes           Georgia
29   1   30  BUF    Gregory Rousseau        Miami (FL)
30   1   31  BAL         Jayson Oweh          Penn St.
31   1   32  TAM           Joe Tryon        Washington
33   2   33  JAX      Tyson Campbell           Georgia
34   2   34  NYJ        Elijah Moore       Mississippi
35   2   35  DEN    Javonte Williams    North Carolina
36   2   36  MIA       Jevon Holland            Oregon
37   2   37  PHI    Landon Dickerson           Alabama
38   2   38  NWE   Christian Barmore           Alabama
39   2   39  CHI       Teven Jenkins      Oklahoma St.
40   2   40  ATL        Richie Grant   Central Florida

## 2. All High Schools
Maybe not the most elegant route, but need a list of the cities where draftees played HS football. Will just add every listed high school from all 50 states to a large dataframe.

In [12]:
alabama_url = 'https://www.pro-football-reference.com/schools/high_schools.cgi?hs_state=AL'

alabamaHS = pd.read_html(alabama_url)[0]

alabamaHS.head(30)

                 High School         HS City HS State  Players  Active
0                   Woodlawn      Birmingham       AL       14       1
1                S.S. Murphy          Mobile       AL       13       0
2                 C.F. Vigor        Prichard       AL       13       0
3                   Anniston        Anniston       AL       12       1
4                    Central     Phenix City       AL       11       1
5              Robert E. Lee      Montgomery       AL       10       0
6              Sidney Lanier      Montgomery       AL       10       0
7           Mattie T. Blount        Prichard       AL       10       0
8            Jefferson Davis      Montgomery       AL        9       0
9   George Washington Carver      Montgomery       AL        9       1
10                   Wenonah      Birmingham       AL        8       3
11                  Phillips      Birmingham       AL        8       0
12                   Opelika         Opelika       AL        8       0
13                   Eufaula         Eufaula       AL        8       2
14                    Daphne          Daphne       AL        8       3
15                   Decatur         Decatur       AL        7       1
16          Benjamin Russell  Alexander City       AL        7       0
17             Robert E. Lee      Huntsville       AL        7       0
18                     Banks      Birmingham       AL        7       0
19                    Valley          Valley       AL        7       0
20                    Auburn          Auburn       AL        7       3
21                 Hazlewood      Town Creek       AL        6       0
22             Shades Valley      Birmingham       AL        6       1
23                    Oxford          Oxford       AL        6       4
24      Lillie B. Williamson          Mobile       AL        6       0
25              J.O. Johnson      Huntsville       AL        6       0
26              John Carroll      Birmingham       AL        6       0
27                  Davidson          Mobile       AL        6       2
28            Tuscaloosa Co.       Northport       AL        5       1
29                    Walker          Jasper       AL        5       0

Looks good, just need to loop through every state. Luckily I was able to find a premade list of all state abbreviations.

In [18]:
All_High_Schools = pd.DataFrame()

stateList = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

for state in stateList:
    state_url = 'https://www.pro-football-reference.com/schools/high_schools.cgi?hs_state=' +str(state)
    state_schools = pd.read_html(state_url)[0]
    All_High_Schools = All_High_Schools.append(state_schools)
    print(state)

AL
AK
AZ
AR
CA
CO
CT
DC
DE
FL
GA
HI
ID
IL
IN
IA
KS
KY
LA
ME
MD
MA
MI
MN
MS
MO
MT
NE
NV
NH
NJ
NM
NY
NC
ND
OH
OK
OR
PA
RI
SC
SD
TN
TX
UT
VT
VA
WA
WV
WI
WY

In [19]:
All_High_Schools

       High School       HS City HS State  Players  Active
0         Woodlawn    Birmingham       AL       14       1
1      S.S. Murphy        Mobile       AL       13       0
2       C.F. Vigor      Prichard       AL       13       0
3         Anniston      Anniston       AL       12       1
4          Central   Phenix City       AL       11       1
..             ...           ...      ...      ...     ...
16          Lovell        Lovell       WY        1       0
17        Pinedale      Pinedale       WY        1       0
18  Natrona County        Casper       WY        1       1
19    Rock Springs  Rock Springs       WY        1       0
20         Buffalo       Buffalo       WY        1       0

[9677 rows x 5 columns]

In [21]:
All_High_Schools = All_High_Schools.drop(columns = ['Players', 'Active'])

In [22]:
All_High_Schools.head()

   High School      HS City HS State
0     Woodlawn   Birmingham       AL
1  S.S. Murphy       Mobile       AL
2   C.F. Vigor     Prichard       AL
3     Anniston     Anniston       AL
4      Central  Phenix City       AL

## 3. Draftee's High Schools
This was probably the most complicated step. I also probably went at it in a pretty primitive manner (but I'm learning).

First, I needed to get a link to each player's bio page. I couldn't just plug the name into a url because the naming of said url's are pretty random when it comes to these pages.

In [23]:
draft_url = 'https://www.pro-football-reference.com/years/2021/draft.htm'

r = requests.get(draft_url)

draft_soup = bs(r.content, 'html.parser')
parsed_table = draft_soup.find_all('table')[0]

In [24]:
stub_list =[]
for i, row in enumerate(parsed_table.find_all('tr')[2:]):
    if row.find('td', attrs={'data-stat':'player'}) == None:
        continue
    data = row.find('td', attrs={'data-stat':'player'})
    name = data.a.get_text()
    stub = data.a.get('href')
    stub_list.append(stub)
    print(name, i, stub)

Trevor Lawrence 0 /players/L/LawrTr00.htm
Zach Wilson 1 /players/W/WilsZa00.htm
Trey Lance 2 /players/L/LancTr00.htm
Kyle Pitts 3 /players/P/PittKy00.htm
Ja'Marr Chase 4 /players/C/ChasJa00.htm
Jaylen Waddle 5 /players/W/WaddJa00.htm
Penei Sewell 6 /players/S/SewePe00.htm
Jaycee Horn 7 /players/H/HornJa00.htm
Patrick Surtain II 8 /players/S/SurtPa01.htm
DeVonta Smith 9 /players/S/SmitDe07.htm
Justin Fields 10 /players/F/FielJu00.htm
Micah Parsons 11 /players/P/ParsMi00.htm
Rashawn Slater 12 /players/S/SlatRa00.htm
Alijah Vera-Tucker 13 /players/V/VeraAl00.htm
Mac Jones 14 /players/J/JoneMa05.htm
Zaven Collins 15 /players/C/CollZa00.htm
Alex Leatherwood 16 /players/L/LeatAl00.htm
Jaelan Phillips 17 /players/P/PhilJa02.htm
Jamin Davis 18 /players/D/DaviJa11.htm
Kadarius Toney 19 /players/T/ToneKa00.htm
Kwity Paye 20 /players/P/PayeKw00.htm
Caleb Farley 21 /players/F/FarlCa00.htm
Christian Darrisaw 22 /players/D/DarrCh00.htm
Najee Harris 23 /players/H/HarrNa00.htm
Travis Etienne 24 /players/E/EtieTr00.htm
Greg Newsome II 25 /players/N/NewsGr00.htm
Rashod Bateman 26 /players/B/BateRa00.htm
Payton Turner 27 /players/T/TurnPa02.htm
Eric Stokes 28 /players/S/StokEr00.htm
Gregory Rousseau 29 /players/R/RousGr00.htm
Jayson Oweh 30 /players/O/OwehJa00.htm
Joe Tryon 31 /players/T/TryoJo00.htm
Tyson Campbell 33 /players/C/CampTy01.htm
Elijah Moore 34 /players/M/MoorEl00.htm
Javonte Williams 35 /players/W/WillJa10.htm
Jevon Holland 36 /players/H/HollJe02.htm
Landon Dickerson 37 /players/D/DickLa00.htm
Christian Barmore 38 /players/B/BarmCh00.htm
Teven Jenkins 39 /players/J/JenkTe00.htm
Richie Grant 40 /players/G/GranRi00.htm
Levi Onwuzurike 41 /players/O/OnwuLe00.htm
Liam Eichenberg 42 /players/E/EichLi00.htm
Trevon Moehrig 43 /players/M/MoehTr00.htm
Kelvin Joseph 44 /players/J/JoseKe02.htm
Walker Little 45 /players/L/LittWa00.htm
Jackson Carman 46 /players/C/CarmJa00.htm
Asante Samuel Jr. 47 /players/S/SamuAs00.htm
Aaron Banks 48 /players/B/BankAa00.htm
Rondale Moore 49 /players/M/MoorRo02.htm
Azeez Ojulari 50 /players/O/OjulAz00.htm
Samuel Cosmi 51 /players/C/CosmSa00.htm
Jeremiah Owusu-Koramoah 52 /players/O/OwusJe00.htm
Dillon Radunz 53 /players/R/RaduDi00.htm
Dayo Odeyingbo 54 /players/O/OdeyDa00.htm
Pat Freiermuth 55 /players/F/FreiPa00.htm
D'Wayne Eskridge 56 /players/E/EskrDW00.htm
Tutu Atwell 57 /players/A/AtweTu00.htm
Nick Bolton 58 /players/B/BoltNi00.htm
Terrace Marshall Jr. 59 /players/M/MarsTe00.htm
Pete Werner 60 /players/W/WernPe00.htm
Carlos Basham Jr. 61 /players/B/BashCa00.htm
Josh Myers 62 /players/M/MyerJo00.htm
Creed Humphrey 63 /players/H/HumpCr00.htm
Kyle Trask 64 /players/T/TrasKy00.htm
Andre Cisco 66 /players/C/CiscAn00.htm
Kellen Mond 67 /players/M/MondKe00.htm
Davis Mills 68 /players/M/MillDa02.htm
Jalen Mayfield 69 /players/M/MayfJa00.htm
Joseph Ossai 70 /players/O/OssaJo00.htm
Brady Christensen 71 /players/C/ChriBr00.htm
Aaron Robinson 72 /players/R/RobiAa00.htm
Alim McNeill 73 /players/M/McNeAl00.htm
Milton Williams 74 /players/W/WillMi08.htm
Benjamin St-Juste 75 /players/S/StJuBe00.htm
Osa Odighizuwa 76 /players/O/OdigOs00.htm
Paulson Adebo 77 /players/A/AdebPa00.htm
Josh Palmer 78 /players/P/PalmJo00.htm
Chazz Surratt 79 /players/S/SurrCh00.htm
Malcolm Koonce 80 /players/K/KoonMa00.htm
Divine Deablo 81 /players/D/DeabDi00.htm
Hunter Long 82 /players/L/LongHu00.htm
Dyami Brown 83 /players/B/BrowDy00.htm
Tommy Tremble 84 /players/T/TremTo00.htm
Chauncey Golston 85 /players/G/GolsCh00.htm
Amari Rodgers 86 /players/R/RodgAm00.htm
Wyatt Davis 87 /players/D/DaviWy00.htm
Kendrick Green 88 /players/G/GreeKe02.htm
Trey Sermon 89 /players/S/SermTr00.htm
Nico Collins 90 /players/C/CollNi00.htm
Patrick Jones II 91 /players/J/JonePa00.htm
Anthony Schwartz 92 /players/S/SchwAn00.htm
Monty Rice 93 /players/R/RiceMo00.htm
Spencer Brown 94 /players/B/BrowSp00.htm
Ben Cleveland 95 /players/C/ClevBe00.htm
Robert Hainsey 96 /players/H/HainRo00.htm
Ronnie Perkins 97 /players/P/PerkRo00.htm
Tre' McKitty 98 /players/M/McKiTr00.htm
Quinn Meinerz 99 /players/M/MeinQu00.htm
Nahshon Wright 100 /players/W/WrigNa00.htm
Elijah Molden 101 /players/M/MoldEl00.htm
Ifeatu Melifonwu 102 /players/M/MeliIf00.htm
Ambry Thomas 103 /players/T/ThomAm00.htm
Ernest Jones 104 /players/J/JoneEr01.htm
Brandon Stephens 105 /players/S/StepBr01.htm
Baron Browning 106 /players/B/BrowBa01.htm
Jay Tufele 108 /players/T/TufeJa00.htm
Michael Carter 109 /players/C/CartMi03.htm
Darren Hall 110 /players/H/HallDa03.htm
Dez Fitzpatrick 111 /players/F/FitzDe00.htm
James Hudson 112 /players/H/HudsJa00.htm
Cameron Sample 113 /players/S/SampCa00.htm
Amon-Ra St. Brown 114 /players/S/StxxAm00.htm
Derrick Barnes 115 /players/B/BarnDe02.htm
Drew Dalman 116 /players/D/DalmDr00.htm
Jabril Cox 117 /players/C/CoxxJa00.htm
Elerson G. Smith 118 /players/S/SmitEl00.htm
Bobby Brown III 119 /players/B/BrowBo04.htm
Chris Rumph II 120 /players/R/RumpCh00.htm
Kene Nwangwu 121 /players/N/NwanKe00.htm
Rhamondre Stevenson 122 /players/S/StevRh00.htm
Jordan Smith 123 /players/S/SmitJo03.htm
Tyler Shelvin 124 /players/S/ShelTy00.htm
Zech McPhearson 125 /players/M/McPhZe00.htm
John Bates 126 /players/B/BateJo00.htm
Camryn Bynum 127 /players/B/BynuCa00.htm
Chuba Hubbard 128 /players/H/HubbCh01.htm
Kylen Granson 129 /players/G/GranKy00.htm
Dan Moore Jr. 130 /players/M/MoorDa05.htm
Jaelon Darden 131 /players/D/DardJa00.htm
Robert Rochell 132 /players/R/RochRo00.htm
Tylan Wallace 133 /players/W/WallTy00.htm
Tommy Togiai 134 /players/T/TogiTo00.htm
Ian Book 135 /players/B/BookIa00.htm
Janarius Robinson 136 /players/R/RobiJa04.htm
Rashad Weaver 137 /players/W/WeavRa00.htm
Marco Wilson 138 /players/W/WilsMa04.htm
Tre Brown 139 /players/B/BrowTr03.htm
Josh Ball 140 /players/B/BallJo00.htm
D'Ante Smith 141 /players/S/SmitDA03.htm
Buddy Johnson 142 /players/J/JohnBu01.htm
Jacob Harris 143 /players/H/HarrJa03.htm
Royce Newman 144 /players/N/NewmRo00.htm
Tyree Gillespie 145 /players/G/GillTy00.htm
Joshua Kaindoh 146 /players/K/KainJo00.htm
Luke Farrell 148 /players/F/FarrLu00.htm
Jamien Sherwood 149 /players/S/SherJa00.htm
Brevin Jordan 150 /players/J/JordBr00.htm
Ta'Quon Graham 151 /players/G/GrahTa00.htm
Evan McPherson 152 /players/M/McPhEv00.htm
Kenneth Gainwell 153 /players/G/GainKe00.htm
Larry Borom 154 /players/B/BoroLa00.htm
Caden Sterns 155 /players/S/SterCa00.htm
Tony Fields II 156 /players/F/FielTo00.htm
Michael Carter II 157 /players/C/CartMi02.htm
Jaylon Moore 158 /players/M/MoorJa04.htm
Isaiahh Loudermilk 159 /players/L/LoudIs00.htm
Ihmir Smith-Marsette 160 /players/S/SmitIh00.htm
Daviyon Nixon 161 /players/N/NixoDa00.htm
Brenden Jaimes 162 /players/J/JaimBr00.htm
Shaun Wade 163 /players/W/WadeSh00.htm
Tommy Doyle 164 /players/D/DoylTo00.htm
Noah Gray 165 /players/G/GrayNo00.htm
Darrick Forrest 166 /players/F/ForrDa00.htm
Jamar Johnson 167 /players/J/JohnJa15.htm
Shawn Davis 168 /players/D/DaviSh02.htm
Keith Taylor 169 /players/T/TaylKe03.htm
Nate Hobbs 170 /players/H/HobbNa00.htm
Zach Davidson 171 /players/D/DaviZa00.htm
Richard LeCounte 172 /players/L/LeCoRi00.htm
Garret Wallow 173 /players/W/WallGa00.htm
Daelin Hayes 174 /players/H/HayeDa00.htm
Deommodore Lenoir 175 /players/L/LenoDe00.htm
Tedarrell Slaton 176 /players/S/SlatTe00.htm
Earnest Brown IV 177 /players/B/BrowEa00.htm
Jason Pinnock 178 /players/P/PinnJa01.htm
K.J. Britt 179 /players/B/BritKJ00.htm
Cameron McGrone 180 /players/M/McGrCa00.htm
Shemar Jean-Charles 181 /players/J/JeanSh00.htm
Simi Fehoko 182 /players/F/FehoSi00.htm
Talanoa Hufanga 183 /players/H/HufaTa00.htm
Cornell Powell 184 /players/P/PoweCo00.htm
Adetokunbo Ogundeji 185 /players/O/OgunAd01.htm
Avery Williams 186 /players/W/WillAv02.htm
Ben Mason 187 /players/M/MasoBe00.htm
Nick Niemann 189 /players/N/NiemNi00.htm
Hamsah Nasirildeen 190 /players/N/NasiHa00.htm
Frank Darby 191 /players/D/DarbFr00.htm
Joshuah Bledsoe 192 /players/B/BledJo00.htm
Marlon Tuipulotu 193 /players/T/TuipMa00.htm
Trey Hill 194 /players/H/HillTr03.htm
Tarron Jackson 195 /players/J/JackTa02.htm
Quinton Bohanna 196 /players/B/BohaQu00.htm
Deonte Brown 197 /players/B/BrowDe06.htm
Elijah Mitchell 198 /players/M/MitcEl00.htm
Roy Lopez 199 /players/L/LopeRo00.htm
Gary Brightwell 200 /players/B/BrigGa00.htm
William Sherman 201 /players/S/SherWi01.htm
Larry Rountree III 202 /players/R/RounLa00.htm
Jaylen Twyman 203 /players/T/TwymJa00.htm
Brandin Echols 204 /players/E/EchoBr00.htm
Rodarius Williams 205 /players/W/WillRo07.htm
Chris Evans 206 /players/E/EvanCh02.htm
Marquez Stevenson 207 /players/S/StevMa00.htm
Shi Smith 208 /players/S/SmitSh03.htm
Racey McMath 209 /players/M/McMaRa00.htm
Landon Young 210 /players/Y/YounLa00.htm
Jonathan Marshall 211 /players/M/MarsJo00.htm
Stone Forsythe 212 /players/F/ForsSt00.htm
Jalen Camp 213 /players/C/CampJa03.htm
Victor Dimukeje 214 /players/D/DimuVi00.htm
Demetric Felton 215 /players/F/FeltDe00.htm
Damar Hamlin 216 /players/H/HamlDa00.htm
Rachad Wildgoose Jr. 217 /players/W/WildRa00.htm
Cole Van Lanen 218 /players/V/VanxCo00.htm
Brady Breeze 219 /players/B/BreeBr00.htm
Quincy Roche 220 /players/R/RochQu00.htm
Khalil Herbert 221 /players/H/HerbKh00.htm
Sam Ehlinger 222 /players/E/EhliSa00.htm
Seth Williams 223 /players/W/WillSe00.htm
Isaiah McDuffie 224 /players/M/McDuIs00.htm
Dazz Newsome 225 /players/N/NewsDa00.htm
Thomas Fletcher 226 /players/F/FletTh00.htm
Tay Gowan 227 /players/G/GowaTa00.htm
JaCoby Stevens 228 /players/S/StevJa00.htm
Camaron Cheeseman 229 /players/C/CheeCa00.htm
Trey Smith 230 /players/S/SmitTr05.htm
Israel Mukuamu 231 /players/M/MukuIs00.htm
Thomas Graham Jr. 232 /players/G/GrahTh00.htm
Mike Strachan 234 /players/S/StraMi03.htm
Jimmy Morrissey 235 /players/M/MorrJi00.htm
Larnel Coleman 236 /players/C/ColeLa03.htm
Phil Hoskins 237 /players/H/HoskPh00.htm
Jake Funk 238 /players/F/FunkJa00.htm
Patrick Johnson 239 /players/J/JohnPa02.htm
Wyatt Hubert 240 /players/H/HubeWy00.htm
Jack Anderson 241 /players/A/AndeJa01.htm
Kary Vincent Jr. 242 /players/V/VincKa00.htm
Matt Farniok 243 /players/F/FarnMa00.htm
Jonathon Cooper 244 /players/C/CoopJo02.htm
William Bradley-King 245 /players/B/BradWi00.htm
Mark Webb 246 /players/W/WebbMa01.htm
Tre Nixon 247 /players/N/NixoTr01.htm
James Wiggins 248 /players/W/WiggJa00.htm
Gerrid Doaks 249 /players/D/DoakGe00.htm
Tre Norwood 250 /players/N/NorwTr00.htm
Shaka Toney 251 /players/T/ToneSh00.htm
Michal Menet 252 /players/M/MeneMi00.htm
Will Fries 253 /players/F/FrieWi00.htm
Ben Skowronek 254 /players/S/SkowBe00.htm
Khyiris Tonga 255 /players/T/TongKh00.htm
Chris Wilcox 256 /players/W/WilcCh00.htm
Chris Garrett 257 /players/G/GarrCh00.htm
Marquiss Spencer 258 /players/S/SpenMa00.htm
Pressley Harvin III 259 /players/H/HarvPr00.htm
Kawaan Baker 260 /players/B/BakeKa00.htm
Kylin Hill 261 /players/H/HillKy00.htm
Jermar Jefferson 262 /players/J/JeffJe00.htm
Dax Milne 263 /players/M/MilnDa00.htm
Grant Stuard 264 /players/S/StuaGr00.htm

Looks good. Next I need to go to each page and get the name of the high school and the state where they played. Unfortunately the information isn't in table form, so this part gets a bit messy.

I'll start by retrieving this info for Trevor Lawrence as an example of what I'm doing.

In [25]:
TrevorURL = 'https://www.pro-football-reference.com/players/L/LawrTr00.htm'
trev = requests.get(TrevorURL)

trevsoup = bs(trev.content)

trevsoup.find('h1').span.get_text()

'Trevor Lawrence'

The name is important, it will let me easily merge this data.

In [26]:
print(trevsoup.find('div', attrs={'id':'info'}))

<div class="players" id="info">
<div id="meta">
<div class="media-item"><img alt="Photo of Trevor Lawrence" itemscope="image" src="https://www.pro-football-reference.com/req/20180910/images/headshots/LawrTr00_2021_draft.jpg"/>
</div><!-- div.media-item --><div itemscope="" itemtype="https://schema.org/Person">
<h1 itemprop="name">
<span>Trevor Lawrence</span>
</h1>
<p>
<strong>
    William Trevor Lawrence

  </strong>
</p>
<p>
<strong>Position</strong>: QB

</p>
<p><span itemprop="height">6-6</span>,Â <span itemprop="weight">220lb</span>Â (198cm,Â 99kg) </p>
<p>
<strong>Born:</strong>
<span data-birth="1999-10-06" id="necro-birth" itemprop="birthDate">
<a href="/friv/birthdays.cgi?month=10&amp;day=6">October 6</a>,Â 1999
    </span>
<span itemprop="birthPlace">
    inÂ Knoxville,Â <a href="/friv/birthplaces.cgi?state=TN">TN</a></span>
</p>
<p><strong>College</strong>:

		<a href="/schools/clemson/">Clemson</a>


		Â (<a href="https://www.sports-reference.com/cfb/players/trevor-lawrence-1.html">College Stats</a>)






</p><p><strong>High School</strong>:

		<a href="/schools/high_schools.cgi?id=93ba171d">Cartersville</a> (<a href="/schools/high_schools.cgi?hs_state=GA">GA</a>)

</p>
<p><strong>Draft</strong>: <a href="/teams/jax/2021_draft.htm">Jacksonville Jaguars</a> in the 1st round (1st overall) of the <a href="/years/2021/draft.htm">2021 NFL Draft</a>.</p>
<p><strong>Twitter:</strong>
<a href="https://twitter.com/trevorlawrencee" rel="nofollow">@trevorlawrencee</a></p>
<button class="opener" data-class="open" data-id="info" data-type="hide_after" id="meta_more_button">More bio, uniform, draft, salary info</button>
<script>
// see sr.menus.js:sr_menus_checkInfoCookie to explain
function sr_menus_checkInfoCookie_inline(browserType) {
    var el_info = document.getElementById('info');
    var el_button = document.getElementById('meta_more_button');
    var bling_len = 0;
    if (!el_button || !el_info || !el_info.classList) { console.log('no meta_button'); return; }
    var el = el_button;
    var siblingsHidden = 0;
    while (el = el.previousSibling) { if ((el.nodeType === 1) && (el.offsetWidth <= 0 || el.offsetHeight <= 0)) { siblingsHidden++; } }
    var button_cookie = false;
    if (browserType === 'desktop') {  button_cookie = vjs_readCookie('meta_more_button');   }
    // We allow up to four of bling lines or additional player bio data entries in mobile.
    if (el_info && el_button && (button_cookie || (siblingsHidden + bling_len <= 4))) {el_button.parentNode.removeChild(el_button);	el_info.classList.add('open');  }
    else { el_button.classList.add('show');  }
}
if (Modernizr.desktop || Modernizr.laptop) { sr_menus_checkInfoCookie_inline('desktop'); } else { sr_menus_checkInfoCookie_inline('mobile'); }
var sr_menus_checkInfoCookie_run_inline = true;
</script>
</div>
</div><!-- div#meta -->
<div class="uni_holder pfr">
</div>
<div class="adblock ad300">
<!-- div#fs_fs_300_atf  -->
<div align="center" id="div-gpt-ad-300x250-ATF">
<script data-cfasync="false" type="text/javascript">
    if (sr_detect_ie || sr_detect_edge || Modernizr.adfree) {
    }
    else {
        console.log('push ad:div-gpt-ad-300x250-ATF');
        freestar.queue.push(function() { googletag.display('div-gpt-ad-300x250-ATF'); });
    }
    </script>
</div>
<!-- /div.#fs_fs_300_atf -->
</div>
</div>

In [27]:
trevsoup.find('div', attrs={'id':'info'}).find_all('p')[5].find_all('a')

[<a href="/schools/high_schools.cgi?id=93ba171d">Cartersville</a>,
 <a href="/schools/high_schools.cgi?hs_state=GA">GA</a>]

In [28]:
trevsoup.find('div', attrs={'id':'info'}).find_all('p')[5].find_all('a')[0].get_text()

'Cartersville'

In [29]:
trevsoup.find('div', attrs={'id':'info'}).find_all('p')[5].find_all('a')[1].get_text()

'GA'

There we go. Just need to do this for every player now.

In [30]:
highSchools = []

for stub in stub_list:
    player_url = 'https://www.pro-football-reference.com' + stub
    r = requests.get(player_url)
    soup = bs(r.content)
    
    name = soup.find('h1').span.get_text()
    
    hs = soup.find('div', attrs={'id':'info'}).find_all('p')[5].find_all('a')[0].get_text()
    
    hs_state = soup.find('div', attrs={'id':'info'}).find_all('p')[5].find_all('a')[1].get_text()
    
    dic = {}
    
    dic['Name'] = name
    dic['HS'] = hs
    dic['State'] = hs_state
    
    highSchools.append(dic)

In [31]:
PlayerHS = pd.DataFrame(highSchools)

In [32]:
PlayerHS

                 Name                 HS State
0     Trevor Lawrence       Cartersville    GA
1         Zach Wilson      Corner Canyon    UT
2          Trey Lance           Marshall    MN
3          Kyle Pitts    Archbishop Wood    PA
4       Ja'Marr Chase  Archbishop Rummel    LA
..                ...                ...   ...
254      Kawaan Baker  Hapeville Charter    GA
255        Kylin Hill           Columbus    MS
256  Jermar Jefferson      Redondo Union    CA
257         Dax Milne            Bingham    UT
258      Grant Stuard          Oak Ridge    TX

[259 rows x 3 columns]

## 4. Merging
Finally, merge all the data

In [34]:
PlayerHS.head()

              Name                 HS State
0  Trevor Lawrence       Cartersville    GA
1      Zach Wilson      Corner Canyon    UT
2       Trey Lance           Marshall    MN
3       Kyle Pitts    Archbishop Wood    PA
4    Ja'Marr Chase  Archbishop Rummel    LA

In [35]:
All_High_Schools.head()

   High School      HS City HS State
0     Woodlawn   Birmingham       AL
1  S.S. Murphy       Mobile       AL
2   C.F. Vigor     Prichard       AL
3     Anniston     Anniston       AL
4      Central  Phenix City       AL

In [45]:
df.head()

  Rnd Pick   Tm           Player      College/Univ
0   1    1  JAX  Trevor Lawrence           Clemson
1   1    2  NYJ      Zach Wilson               BYU
2   1    3  SFO       Trey Lance  North Dakota St.
3   1    4  ATL       Kyle Pitts           Florida
4   1    5  CIN    Ja'Marr Chase               LSU

I'll go ahead and make common column names to make this easier

In [47]:
All_High_Schools = All_High_Schools.rename(columns = {'HS State': 'State', 'High School': 'HS'})

In [53]:
first_merge = PlayerHS.merge(All_High_Schools, 
               on = ['HS', 'State'], 
               how='left')

In [61]:
first_merge[first_merge.duplicated(['Name', 'State'])]

                  Name                    HS State               HS City
3           Trey Lance              Marshall    MN              Marshall
18    Alex Leatherwood  Booker T. Washington    FL             Pensacola
36        Elijah Moore    St. Thomas Aquinas    FL       Deerfield Beach
49      Jackson Carman             Fairfield    OH             Fairfield
51   Asante Samuel Jr.    St. Thomas Aquinas    FL       Deerfield Beach
82         Josh Palmer    St. Thomas Aquinas    FL       Deerfield Beach
116       James Hudson      Central Catholic    OH                Canton
117       James Hudson      Central Catholic    OH          Steubenville
118       James Hudson      Central Catholic    OH             Cleveland
119       James Hudson      Central Catholic    OH                  Lima
122  Amon-Ra St. Brown             Mater Dei    CA           Chula Vista
128        Bobby Brown                 Lamar    TX             Arlington
137       Camryn Bynum            Centennial    CA                Corona
138       Camryn Bynum            Centennial    CA           Bakersfield
139       Camryn Bynum            Centennial    CA              Stockton
147       Tommy Togiai              Highland    ID             Pocatello
157       Jacob Harris            University    FL           Palm Harbor
158       Jacob Harris            University    FL               Orlando
163       Luke Farrell                 Perry    OH         Perry Heights
164       Luke Farrell                 Perry    OH                 Perry
180         Shaun Wade     Trinity Christian    FL          Jacksonville
204     Avery Williams           St. Francis    CA  La Canada Flintridge
210    Joshuah Bledsoe               Dekaney    TX                Spring
222      Jaylen Twyman          H.D. Woodson    DC            Washington
236       Damar Hamlin      Central Catholic    PA             Allentown
237       Damar Hamlin      Central Catholic    PA              Kingston
238       Damar Hamlin      Central Catholic    PA            Greensburg
264   Kary Vincent Jr.              Memorial    TX           Port Arthur
267    Jonathon Cooper               Lincoln    OH               Gahanna
268    Jonathon Cooper               Lincoln    OH             Cleveland
280      Khyiris Tonga               Granger    UT      West Valley City

In [65]:
first_merge = first_merge.drop([2,17,36,48,51,82,116,117,
                 118,119,122,127,137,138,
                 139,146,156,158,162,163,
                 180,204,209,221,236,237,
                 238,264,266,268,279])

In [66]:
first_merge

                 Name                 HS State        HS City
0     Trevor Lawrence       Cartersville    GA   Cartersville
1         Zach Wilson      Corner Canyon    UT         Draper
3          Trey Lance           Marshall    MN       Marshall
4          Kyle Pitts    Archbishop Wood    PA     Warminster
5       Ja'Marr Chase  Archbishop Rummel    LA       Metairie
..                ...                ...   ...            ...
285      Kawaan Baker  Hapeville Charter    GA     Union City
286        Kylin Hill           Columbus    MS       Columbus
287  Jermar Jefferson      Redondo Union    CA  Redondo Beach
288         Dax Milne            Bingham    UT   South Jordan
289      Grant Stuard          Oak Ridge    TX         Conroe

[259 rows x 4 columns]

In [71]:
first_merge = first_merge.reset_index()

In [73]:
df = df.reset_index()

In [81]:
df = df.drop(columns=['index'])

In [83]:
final = df.join(first_merge, how='outer')

In [85]:
final = final.drop(columns=['index', 'Name'])

In [86]:
final

,Rnd,Pick,Tm,Player,College/Univ,HS,State,HS City
0,1,1,JAX,Trevor Lawrence,Clemson,Cartersville,GA,Cartersville
1,1,2,NYJ,Zach Wilson,BYU,Corner Canyon,UT,Draper
2,1,3,SFO,Trey Lance,North Dakota St.,Marshall,MN,Marshall
3,1,4,ATL,Kyle Pitts,Florida,Archbishop Wood,PA,Warminster
4,1,5,CIN,Ja'Marr Chase,LSU,Archbishop Rummel,LA,Metairie
...,...,...,...,...,...,...,...,...
254,7,255,NOR,Kawaan Baker,South Alabama,Hapeville Charter,GA,Union City
255,7,256,GNB,Kylin Hill,Mississippi St.,Columbus,MS,Columbus
256,7,257,DET,Jermar Jefferson,Oregon St.,Redondo Union,CA,Redondo Beach
257,7,258,WAS,Dax Milne,BYU,Bingham,UT,South Jordan
258,7,259,TAM,Grant Stuard,Houston,Oak Ridge,TX,Conroe

In [87]:
final[final.isnull().any(axis=1)]

,Rnd,Pick,Tm,Player,College/Univ,HS,State,HS City
10,1,11,CHI,Justin Fields,Ohio St.,Harrison,GA,NaN
73,3,74,WAS,Benjamin St-Juste,Minnesota,Montreal Cegep du Vieux,Canada,NaN
125,4,126,CAR,Chuba Hubbard,Oklahoma St.,Bev Facey,Canada,NaN

In [90]:
final = final.rename(columns={'HS City':'City'})

In [96]:
final['City'][10] = 'Kennesaw'

In [97]:
final['City'][10]

'Kennesaw'

In [98]:
final['City'][125] = 'Sherwood Park'

In [99]:
final['City'][73] = 'Montreal'

In [100]:
final

,Rnd,Pick,Tm,Player,College/Univ,HS,State,City
0,1,1,JAX,Trevor Lawrence,Clemson,Cartersville,GA,Cartersville
1,1,2,NYJ,Zach Wilson,BYU,Corner Canyon,UT,Draper
2,1,3,SFO,Trey Lance,North Dakota St.,Marshall,MN,Marshall
3,1,4,ATL,Kyle Pitts,Florida,Archbishop Wood,PA,Warminster
4,1,5,CIN,Ja'Marr Chase,LSU,Archbishop Rummel,LA,Metairie
...,...,...,...,...,...,...,...,...
254,7,255,NOR,Kawaan Baker,South Alabama,Hapeville Charter,GA,Union City
255,7,256,GNB,Kylin Hill,Mississippi St.,Columbus,MS,Columbus
256,7,257,DET,Jermar Jefferson,Oregon St.,Redondo Union,CA,Redondo Beach
257,7,258,WAS,Dax Milne,BYU,Bingham,UT,South Jordan
258,7,259,TAM,Grant Stuard,Houston,Oak Ridge,TX,Conroe

In [101]:
final.to_csv('NFL_draft.csv')